<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<h1>Task Chooser</h1>
<% @tasks.each do |task| %>
<div class="entry">
  <%= image_tag(task.image_url) %>
  <h3><%= task.title %></h3>
  <p><%= sanitize(task.description) %></p>
  <div class="duration_line">
    <span class="duration"><%= task.duration %></span>
  </div>
</div>
<% end %>
