<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Task Chooser</h1>
<% cache ['all_tasks_list', Task.latest] do %>
<% @tasks.each do |task| %>
  <% cache ['entry', task] do %>  
    <div class="entry">
    <%= image_tag(task.image_url) %>
    <h3><%= task.title %></h3>
    <p><%= sanitize(task.description) %></p>
    <div class="duration_line">
      <span class="duration"><%= task.duration %></span>
      <%= button_to 'Add to tasklist', task_items_path(task_id: task) %>
    </div>
  </div>
<% end %>  
<% end %>
<% end %>
