<h1>Listing task_items</h1>

<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>Task list</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @task_items.each do |task_item| %>
      <tr>
        <td><%= task_item.task %></td>
        <td><%= task_item.task_list %></td>
        <td><%= link_to 'Show', task_item %></td>
        <td><%= link_to 'Edit', edit_task_item_path(task_item) %></td>
        <td><%= link_to 'Destroy', task_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task item', new_task_item_path %>
